* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 1rem;
}

span {
    display: inline-block;
    width: 100px;
    height: 100px;

    background-color: coral;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}